.action_bar {
  position: relative;
  margin: 20px 0;
  font-size: 25px;
  display: flex;
  border-radius: 0 0 5px 5px;
  background: #ccf1cc;
  width: 100%;
}
.action_bar .addButton {
  border: solid 1px var(--bg-2);
  width: 35px;
  height: 32px;
  margin: 10px;
  text-align: center;
  border-radius: 100%;
  color: var(--primaryPurple);
  background: var(--bg-2);
  cursor: pointer;
}

.action_bar .addButton:hover {
  border: solid 1px var(--bg-3);
  background: var(--bg-3);
}

.action_bar .actionStatus {
  margin: 10px 10px 10px auto;
  font-size: 15px;
}
.action_bar .actionStatus span {
  display: inline-block;
  margin: 0 5px;
}
